.container {
	max-width: 1024px;
}

.post-thumbnail-parent {
	display: flex;
	flex-direction: row;
}

.thumbnail {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	padding-left: 30px;
}

.thumbnail-link {

	background-color: #ffa86a;
}

.thumbnail-link img {
	border: solid;
	border-color: #ffa86a;
	/* object-fit: cover; */
	transition: 100ms;
}

.thumbnail-link img:hover {
	opacity: 0.9;
}

.home-box-parent-no {
	columns: 2;
	column-gap: 10px;
}

.home-box-parent {
	padding-top: 1rem;
	display: flex;
	gap: 1rem;
}


.home-box-child {
	flex-grow: 1;
}

@media only screen and (max-width: 50em) {
	.home-box-parent {
		flex-direction: column;
	}

	.post-thumbnail-parent {
		flex-direction: column;
	}

	.thumbnail {
		justify-content: center;
		padding-left: unset;
	}
}

.menu__inner.menu__inner--desktop {
	float: right;
}

.footer {
	user-select: none;
}

.footer__inner {
	width: auto;
}
