{{ define "main" }}
{{ with .Content }}
<div class="index-category-content">
  {{ . }}
</div>
{{ end }}
<div class="posts">
  {{ $numOfPages := len .Paginator.Pages }}
  {{ if eq $numOfPages 0 }}
  <h2>{{ .Site.Params.emptySectionMessage }}</h2>
  {{ end }}

  {{ range .Paginator.Pages }}
  <div class="post on-list post-thumbnail-parent">
    <div>
      <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h1>
      <div class="post-meta">
        {{ if .Params.event_date }}
        <span class="post-date">
          {{ time.Format "Monday, 2 January @ 15:04" (time .Params.event_date) }}
        </span>
        {{ end }}
        {{ with .Params.Author }}
        <span class="post-author">:: {{ . }}</span>
        {{ end }}
      </div>

      {{ if .Params.tags }}
      <span class="post-tags">
        {{ range .Params.tags }}
        #<a href="{{ (urlize (printf " tags/%s/" . )) | absLangURL }}">
          {{- . -}}
        </a>&nbsp;
        {{ end }}
      </span>
      {{ end }}

      {{ partial "cover.html" . }}

      <div class="post-content">
        {{ if .Params.showFullContent }}
        {{ .Content }}
        {{ else if .Description }}
        {{ .Description | markdownify }}
        {{ else }}
        {{ .Summary | markdownify }}
        {{ end }}
      </div>

      {{ if not .Params.showFullContent }}
      <div>
        <a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
      </div>
      {{ end }}
    </div>
    {{ $thumb := .Params.thumbnail }}
    {{ if hasPrefix $thumb "http" }}
      {{ with resources.GetRemote $thumb }}
        {{ with .Resize "250x" }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
        {{ end }}
      {{ end }}
    {{ else if hasPrefix $thumb "/" }}
      {{ with resources.Get $thumb }}
        {{ with .Resize "250x" }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
</div>
{{ end }}
